* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #ffffff;
}

header {
    background-color: #583131f8;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

nav a {
    margin: 0 15px;
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.car-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.car {
    background-color: #442626;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.car img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

button {
    background-color: #6b3a3a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff1100;
}

footer {
    background-color: #583131f8;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}